---
---

<footer class="border-t p-4 mt-8">
  <div class="max-w-4xl mx-auto">
    <div class="flex justify-between">
      <div>
        <h3 class="font-bold">Dreamseed</h3>
        <p class="text-sm">A collection of dream seeds and ideas from creative minds around the world.</p>
      </div>
      <div class="flex space-x-8">
        <div>
          <h4 class="font-bold text-sm">Explore</h4>
          <ul>
            <li><a href="/seeds" class="hover:underline">Seeds</a></li>
            <li><a href="/authors" class="hover:underline">Authors</a></li>
          </ul>
        </div>
        <div>
          <h4 class="font-bold text-sm">Connect</h4>
          <ul>
            <li><a href="#" class="hover:underline">GitHub</a></li>
            <li><a href="#" class="hover:underline">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="border-t mt-4 pt-4 text-center text-sm">
      &copy; 2025 Dreamseed. All rights reserved.
    </div>
  </div>
</footer>