---
---

<header class="border-b p-4">
  <div class="max-w-4xl mx-auto">
    <div class="flex justify-between items-center">
      <div>
        <a href="/">
          <h1 class="text-xl font-bold">Dreamseed</h1>
        </a>
      </div>
      <nav class="flex space-x-6">
        <a href="/" class="hover:underline">Home</a>
        <a href="/seeds" class="hover:underline">Seeds</a>
        <a href="/authors" class="hover:underline">Authors</a>
      </nav>
    </div>
  </div>
</header>